html{
    min-height: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-size: 100%;
    background: radial-gradient(#4B4B4F,#707070,#4B4B4F );
    min-height: 100%;
  }
  
  form{
    padding: 20px;
    margin-top: 60px;
  }
  
  form button, form h5{
    margin: 20px 0;
  }
  
  
  
  input[type=text]:not(.browser-default):focus:not([readonly]),
  input[type=email]:not(.browser-default):focus:not([readonly]),
  input[type=password]:not(.browser-default):focus:not([readonly]),
  textarea.materialize-textarea:focus:not([readonly]){
    border-color: #050404 ;
    box-shadow: grey;
   
  }
  
  input[type=text]:not(.browser-default):focus:not([readonly]) + label,
  textarea.materialize-textarea:focus:not([readonly]) + label,
  input[type=email]:not(.browser-default):focus:not([readonly]) + label,
  input[type=password]:not(.browser-default):focus:not([readonly]) + label{
    color: #050404  !important;
    
  }
  
  [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: none;
    opacity: unset;
    pointer-events: auto;
  }

  .add_def{
    position :relative;
    display: inline-block;
    padding: 10px 15px;
    margin-top:20px;
    margin-bottom:0 ;
    color: #F8F1FA;
    font-size: 22px;
    text-decoration: none;
    text-transform: uppercase;
    overflow :hidden ;
    transition: 0.5s;
    letter-spacing: 2px;
  }
  .add_def:hover
  {
    background: #F8F1FA;
    color: #050801;
    box-shadow: 0 0 5px #F8F1FA,
                0 0 25px #F8F1FA,
                0 0 50px #F8F1FA,
                0 0 200px #F8F1FA;
  }
  .add_def span{
    position: absolute;
    display: block;

  }
  .add_def span:nth-child(1){
    top:0;
    left:-100%;
    width:100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#F8F1FA);
    animation: animate1 1s linear infinite;
  }
  @keyframes animate1
  {
    0%
    {
      left:-100%;
    }
    50%,100%
    {
      left: 100%;
    }
  }
  .add_def span:nth-child(2){
    top:-100%;
    right: 0;
    width:2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#F8F1FA);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
  }
  @keyframes animate2
  {
    0%
    {
      top:-100%;
    }
    50%,100%
    {
      top: 100%;
    }
  }
  .add_def span:nth-child(3){
    bottom:0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#F8F1FA);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
  }
  @keyframes animate3
  {
    0%
    {
     right:-100%;
    }
    50%,100%
    {
      right: 100%;
    }
  }


  .add_def span:nth-child(4){
    bottom:-100%;
    left: 0;
    width:2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#F8F1FA);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
  }
  @keyframes animate4
  {
    0%
    {
     bottom:-100%;
    }
    50%,100%
    {
      bottom: 100%;
    }
  }

  .overflows{
    overflow: hidden;
  }

  .overflow{
    overflow: hidden;
  }
  .new_dim{
    transform: scale(1);
    transition: transform 0.5s ease;
  }
  .new_dim:hover{
    transform: scale(1.8);
   
  }

  